#!/bin/bash
#SPDX-License-Identifier: MIT

#
# Prepare upstream and downstream
#
git fetch upstream
git fetch downstream

#
# Here's a good place to reject commits that we know we'll never backport.
#
# git abc reject abcd1234
# ...

#
# If we're on a backport dev branch, then make sure we get the
# commits on the dev branch linked too.
#
if [[ "$(git rev-parse HEAD)" != "$(git rev-parse "$ABC_DOWNSTREAM")" ]] &&
   git merge-base --is-ancestor "$ABC_DOWNSTREAM" HEAD; then
	ABC_HUNT_CHERRIES=off git abc set-upstream-range
fi
