#!/bin/bash
#SPDX-License-Identifier: MIT

commit=$1 their_file=$2 our_file=$3 flags=$4

evil_changes()
{
	#
	# We don't care about evil blank lines.
	#
	git show --pretty=%H "$commit" -- $ABC_PATHS |
	grep -E -v '(^(\+\+\+|---) [ab]\/)|(^(\+\+|--)[[:blank:]]*$)' |
	grep -E '^(\+\+|--)'
}

if ! evil_changes >/dev/null; then
	exit 0
fi

#
# Based on the input, we may be able to automatically "review" this
# evil merge and determine it's safe to ignore. Here's a good place
# to do that.
#

exit 1
